.day-card {
  display: flex;
  width: auto;
  text-align: center;
  direction:rtl;
  margin-right: 10px;
  margin-bottom: 8px;
  span{
    
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
  }
  .sell{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
  }

  .platinum{
    color: white;
    background: rgb(99, 99, 99);
  }
  
  .gold{
    color: white;
    background: rgb(196, 166, 0);
  }
  
  .kids{
    color: white;
    background:  #006978;
  }
  .platinum, .gold, .kids{
    font-size: 13px;
    align-content: center;
    display: inline-grid;
  }

  .date,.time{
    font-size: 15px;
  }
}
