<!-- Generated template for the DayCardComponent component -->
<div class="card">
  <div class="title">
    כותרת
  </div>
  <div class="sell-container">
    <div class="sell">
      <div class="drop">
        <div class="count">10</div>
      </div>
      <div class="img">
        י
      </div>
    </div>
    <div class="sell">
      <div class="drop">
        <div class="count">10</div>
      </div>
      <div class="img">
        מ
      </div>
    </div>
    <div class="sell">
      <div class="drop">
        <div class="count">10</div>
      </div>
      <div class="img">
          פ
      </div>
    </div>
  </div>
</div>