<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>
  
  <a href="#" class="menu-item"> <span class="hamburger"></span> <span class="hamburger plus-1"></span> </a>
  <a href="#" class="menu-item"> <span class="hamburger minus"></span> </a>
  
</nav>
