<ion-content padding>
  <div class="home-wrapper">
    <h3>!יום עבודה נעים</h3>

    <div class="time-parent">
      <work-time-picker *ngIf='showTimePickerDialog' (endCall)='closeAndUpdate($event)'></work-time-picker>
      <work-time (click)='openDialog()'></work-time>
    </div>

    <div class="counters">
      <div *ngFor="let counter of counters">
        <sell-counter [counter]='counter' (counterUp)='counterChange($event, "up")' (counterDown)='counterChange($event, "down")'> </sell-counter>
      </div>
    </div>


    <button class="button" (click)='toggleButtonName()' [ngClass]="inWork?'stop':'start'" ion-button>{{startButtonName}}</button>

    
    <div *ngFor="let month of months">
      <month-card [month]='month'></month-card>
    </div>
  </div>
</ion-content>