@import '../../theme/variables';

page-home {
    text-align: center;
    .start{
        transition: all 1s ease;
        width: 70px;
        border-radius: 7px;
    }
    .counters{
        margin: 0 auto;
        text-align: center;
        display: flex;
    }
}
