@import '../../theme/variables';


page-home {
    //background-image: url('../../assets/imgs//night.png') no-repeat center center fixed;
    text-align: center;
    .button{
        transition: all 1s ease;
        width: 70px;
        border-radius: 7px;
    }
    .counters{
        margin: 0 auto;
        text-align: center;
        display: flex;
    }
}


.start{
    background:#fdfdfd9f;
    color: black;
}

.stop{
    background:#c50e299f;
}

ion-content{
    background: url('/assets/imgs//night.png') no-repeat center center fixed;
}